<%- include('layouts/header') %>

<!-- approvedPage failed start -->

<%- include('layouts/header') %>

<!-- approvedPage failed start -->


<div class="container" style="opacity: 0;">
    

  <!-- <form  id="idram">
    <input type="hidden" value="OK">
    <input type="hidden" name="EDP_BILL_NO" id="payment_num">
    <input type="hidden" name="SECRET_KEY" value="n5s2Ce93WsXEJfkpNNT4XdvQzxTNfmSbfcY6NB">
    <input type="hidden" name="EDP_AMOUNT" id="payent_amount"> 
    <input type="hidden" name="EDP_REC_ACCOUNT" value ="110000721">
    <input type="hidden" id="title" name="EDP_DESCRIPTION">
    <input type="hidden" id="payent_amount" name="EDP_AMOUNT" value="10" >
    <input type="hidden" id="payment_num" name="EDP_BILL_NO">
    <input type="hidden" name="EDP_EMAIL" value ="stepankhachikyan@mail.ru">
    <input type="submit" value="submit">
 </form> -->
<!-- 
    <script>
       document.getElementById('payment_num').value = sessionStorage.getItem('checknum')
       document.getElementById('payent_amount').value = sessionStorage.getItem('totalValue')
       document.getElementById('title').value = sessionStorage.getItem('title')
      //  sessionStorage.setItem('checknum',document.getElementById('payment_num').value)
    </script>
    <script  type="text/javascript"> document.getElementById("idram").submit(); </script> -->

</div>



<!-- approvedPage failed end -->


<%- include('layouts/footer') %>


<!-- approvedPage failed end -->


<%- include('layouts/footer') %>