<!DOCTYPE html> 
<html> 
<title>Idram</title> 
<body> 
    <h3>Welcome to Idram payment</h3>

 </body> 
</html>






<!-- https://www.pakovikahuyqmariya.am/approved-pageFail?EDP_BILL_NO=29109222&SUCCESS_URL=https://www.pakovikahuyqmariya.am/approved-page&FAIL_URL=https://www.pakovikahuyqmariya.am/approved-pageFail&RESULT_URL=https://www.pakovikahuyqmariya.am/paymentsResult&SECRET_KEY=n5s2Ce93WsXEJfkpNNT4XdvQzxTNfmSbfcY6NB -->