<%- include('layouts/header') %>

<!-- approvedPage start -->

<div class="container">
   <div class="row">
      <div class="col-md-6 mx-auto mt-5">
         <div class="payment">
            <div class="payment_header">
               <div class="check"><i style="color: green" class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="content">
               <h1>
                  <% if(locale === 'en') {%>      
                    The data is registered !
                 <%} %>

                 <% if(locale === 'ru') {%>      
                    Данные зарегистрированы !
                 <%} %>

                 <% if(locale === 'hy') {%>      
                     Տվյալները գրանցված են !
                 <%} %>
               </h1>
               <p>
                  <% if(locale === 'en') {%>      
                    We will contact you !
                 <%} %>

                 <% if(locale === 'ru') {%>      
                    мы свяжемся с вами !
                 <%} %>

                 <% if(locale === 'hy') {%>      
                    Մենք կապ կհաստատենք ձեր հետ !
                 <%} %>
               </p>
               <a href="/">
                  <% if(locale === 'en') {%>      
                     Go to Home
                 <%} %>

                 <% if(locale === 'ru') {%>      
                  вернуться
                 <%} %>

                 <% if(locale === 'hy') {%>      
                     Վերադառնալ
                 <%} %>
               </a>
            </div>
            
         </div>
      </div>
   </div>
</div>


<!-- approvedPage end -->


<%- include('layouts/footer') %>