

@charset "UTF-8";
@import 'bootstrap-grid.css';
@import 'icons.css';
@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&subset=latin-ext';
input,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,
select {
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    outline: none;
    font-size: 16px;
    color: gray;
    margin: 0 0 16px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    font-weight: 500;
    opacity: 1;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .12)
}

select {
    padding: 15px 18px;
    cursor: pointer
}

input {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
textarea:focus {
    color: gray;
    transition: box-shadow .2s!important;
    opacity: 1;
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .12)
}

input:-webkit-autofill:focus,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset!important;
    -webkit-text-fill-color: gray!important
}

input.with-border,
input[type=text].with-border,
input[type=password].with-border,
input[type=email].with-border,
input[type=number].with-border,
textarea.with-border,
select.with-border {
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05)
}

input.with-border:focus,
input[type=text].with-border:focus,
input[type=password].with-border:focus,
input[type=email].with-border:focus,
input[type=number].with-border:focus,
textarea.with-border:focus {
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .08)
}



.mobile-styles.mm-panel:before {
    height: 10px!important
}

#header-container.cloned {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999
}

#header-container.cloned {
    background-color: #fff
}

#header-container .sticky-logo {
    display: none
}

#header-container.cloned .default-logo {
    display: none
}

#header-container.cloned .sticky-logo {
    display: inline-block
}

#header-container.cloned.unsticky {
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
    transform: translate(0, -100%) scale(1);
    transition: .3s
}

#header-container.cloned.sticky {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0) scale(1);
    transition: .3s
}

#header-container.transparent-header {
    position: absolute;
    width: 100%
}

.transparent-header-spacer {
    height: 82px
}

.transparent-header #header {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}

.transparent-header #header .right-side {
    background-color: transparent
}

.transparent-header #logo,
.transparent-header #header .right-side .header-widget {
    border-color: rgba(255, 255, 255, .2)
}

.transparent-header #header .right-side .header-widget:first-of-type {
    border-right-color: transparent
}

.transparent-header #header .right-side .header-widget:last-of-type {
    border-color: rgba(255, 255, 255, .2)
}

body .transparent-header #navigation>ul li a,
.transparent-header .header-notifications-trigger,
.transparent-header .header-notifications-trigger a {
    color: #fff
}

body .transparent-header #navigation>ul ul li a {
    color: #aaa
}

.transparent-header .header-notifications-dropdown:before {
    border-bottom-color: #fff
}

.transparent-header .mmenu-trigger {
    background-color: #fff
}

.transparent-header #navigation>ul li a:after {
    background-color: rgba(255, 255, 255, .15);
    color: rgba(255, 255, 255, .8);
    opacity: 1;
    transition: .3s
}

.transparent-header #navigation>ul li:hover ul li:hover a:after,
.transparent-header #navigation>ul li:hover a:after,
.transparent-header #navigation>ul li a.current:after {
    color: #fff;
    background: #66676b
}

.transparent-header #navigation>ul li:hover ul a:after,
.transparent-header #navigation>ul ul li a:after {
    background-color: rgba(255, 255, 255, .1);
    color: #bbb
}

.mm-hidden {
    display: none!important
}

.mm-wrapper {
    overflow-x: hidden;
    position: relative
}

.mm-menu {
    box-sizing: border-box;
    background: inherit;
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.mm-panels,
.mm-panels>.mm-panel {
    background: inherit;
    border-color: inherit;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.mm-panels {
    overflow: hidden
}

.mm-panel {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}

.mm-panel.mm-opened {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.mm-panel.mm-subopened {
    -webkit-transform: translate(-30%, 0);
    -ms-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0)
}

.mm-panel.mm-highest {
    z-index: 1
}

.mm-panel.mm-noanimation {
    -webkit-transition: none!important;
    transition: none!important
}

.mm-panel.mm-noanimation.mm-subopened {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.mm-panels>.mm-panel {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px
}

.mm-panels>.mm-panel.mm-hasnavbar {
    padding-top: 40px
}

.mm-panels>.mm-panel:not(.mm-hidden) {
    display: block
}

.mm-panels>.mm-panel:after,
.mm-panels>.mm-panel:before {
    content: '';
    display: block;
    height: 20px
}

.mm-vertical .mm-panel {
    -webkit-transform: none!important;
    -ms-transform: none!important;
    transform: none!important
}

.mm-listview .mm-vertical .mm-panel,
.mm-vertical .mm-listview .mm-panel {
    display: none;
    padding: 10px 0 10px 10px
}

.mm-listview .mm-vertical .mm-panel .mm-listview>li:last-child:after,
.mm-vertical .mm-listview .mm-panel .mm-listview>li:last-child:after {
    border-color: transparent
}

.mm-vertical li.mm-opened>.mm-panel,
li.mm-vertical.mm-opened>.mm-panel {
    display: block
}

.mm-listview>li.mm-vertical>.mm-next,
.mm-vertical .mm-listview>li>.mm-next {
    box-sizing: border-box;
    height: 40px;
    bottom: auto
}

.mm-listview>li.mm-vertical.mm-opened>.mm-next:after,
.mm-vertical .mm-listview>li.mm-opened>.mm-next:after {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    right: 19px
}

.mm-btn {
    box-sizing: border-box;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 1
}

.mm-clear:after,
.mm-clear:before,
.mm-close:after,
.mm-close:before {
    content: '';
    border: 2px solid transparent;
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.mm-clear:before,
.mm-close:before {
    border-right: none;
    border-bottom: none;
    right: 18px
}

.mm-clear:after,
.mm-close:after {
    border-left: none;
    border-top: none;
    right: 25px
}

.mm-next:after,
.mm-prev:before {
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    display: block;
    width: 8px;
    height: 8px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0
}

.mm-prev:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 23px;
    right: auto
}

.mm-next:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 23px;
    left: auto
}

.mm-navbar {
    border-bottom: 1px solid;
    border-color: inherit;
    text-align: center;
    line-height: 30px;
    height: 50px;
    padding: 0 40px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.mm-navbar>* {
    display: block;
    padding: 10px 0
}

.mm-navbar a,
.mm-navbar a:hover {
    text-decoration: none
}

.mm-navbar .mm-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mm-navbar .mm-btn:first-child {
    left: 0
}

.mm-navbar .mm-btn:last-child {
    text-align: right;
    right: 0
}

.mm-panel .mm-navbar {
    display: none
}

.mm-panel.mm-hasnavbar .mm-navbar {
    display: block;
    background-color: #262626
}

.mm-listview,
.mm-listview>li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0
}

.mm-listview {
    font: inherit;
    font-size: 14px;
    line-height: 20px
}

.mm-listview a,
.mm-listview a:hover {
    text-decoration: none
}

.mm-listview>li {
    position: relative
}

.mm-listview>li,
.mm-listview>li .mm-next,
.mm-listview>li .mm-next:before,
.mm-listview>li:after {
    border-color: inherit
}

.mm-listview>li {
    border-bottom: 1px solid #404040
}
























.section {
    display: block
}

.section.white {
    background: #fff
}

.section.gray {
    background: #f9f9f9
}

.section.border-top {
    border-top: 1px solid #e0e0e0
}

.section.border-bottom {
    border-bottom: 1px solid #e0e0e0
}

.section-headline {
    display: block;
    position: relative;
    padding-right: 20%
}

.section-headline.centered {
    text-align: center;
    padding: 0
}

.section-headline span {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #888;
    margin-top: 0;
    display: block
}

.section-headline h1,
.section-headline h2,
.section-headline h3,
.section-headline h4 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
    color: #333
}

.section-headline h4 {
    font-size: 22px;
    line-height: 34px
}

.section-headline.border-top {
    border-top: 1px solid #e0e0e0
}

h1.in-a-box,
h2.in-a-box,
h2.in-a-box,
h3.in-a-box,
h5.in-a-box {
    display: inline-block;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15)
}

.section-headline h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px
}

a.headline-link {
    position: absolute;
    right: 0;
    bottom: 0
}

a.headline-link.bottom-icon:after {
    content: "\e957";
    top: 3px
}

a.headline-link:after {
    content: "\e995";
    font-family: material-icons;
    font-size: 21px;
    line-height: 0;
    position: relative;
    top: 4px;
    margin-left: 5px
}

@media(max-width:768px) {
    a.headline-link {
        position: relative;
        margin-top: 10px;
        display: inline-block
    }
}

@media(max-width:992px) {
    .hide-under-992px {
        display: none
    }
}

@media(max-width:768px) {
    .hide-under-768px {
        display: none
    }
}

@media(max-width:480px) {
    .hide-under-480px {
        display: none
    }
}

.icon-set-container {
    display: block;
    width: calc(100% + 30px);
    left: -15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center
}

.glyph.fs1 {
    position: relative;
    font-size: 20px;
    margin: 10px 15px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    border-radius: 4px;
    flex: 1 1 calc(25% - 30px);
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: .3s;
    color: #666
}

.glyph.fs1:hover {
    transform: translateY(-5px);
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15)
}

.glyph.fs1:hover span:not([class*=mls]) {
    background-color: #fff;
    color: #333
}

.glyph.fs1 .fs0,
.glyph.fs1 fieldset {
    display: none
}

.glyph.fs1 span:not([class*=mls]) {
    vertical-align: middle;
    top: -4px;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, .04);
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    font-size: 24px;
    transition: .3s;
    position: relative;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.glyph.fs1 .mls:not([class*=icon-]) {
    max-width: 80%;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    top: 0;
    vertical-align: middle;
    padding-left: 55px
}

.content-left-offset {
    padding-left: 30px
}

.content-right-offset {
    padding-right: 30px
}

@media(max-width:992px) {
    .content-left-offset {
        padding-left: 15px
    }
    .content-right-offset {
        padding-right: 15px
    }
}



